/// COLORS ///
$white: #ffffff;
$black: #171615;
$grey: #b7b7b7;
$dark-grey: #707070;

/// TYPOGRAPHY ///
$text-xl: 5rem;
$text-lg: 3.5rem;
$text-md: 2.5rem;
$text-sm: 1.25rem;
$text-xs: 1rem;

/// UTILITIES ///
$curve: cubic-bezier(0.215, 0.61, 0.355, 1);
